<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ByteSize" version="1.3.0" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="HandyUtil.Extensions" version="0.5.0.0" targetFramework="net461" />
  <package id="HandyUtilities.Xsv" version="0.5.0.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.2" targetFramework="net461" />
</packages>